<%include file="header-jquery.html" />

<script type="text/javascript">
<%include file="js/createlinkedslider.js" />

function num2sci(value, numDigits)
{
    var exponent = Math.floor(Math.log(value) / Math.log(10));
    var mantissa = value / Math.pow(10, exponent - numDigits);
   return Math.round(mantissa + (9*exponent - 1)*Math.pow(10, numDigits));
}

function sci2str(sci, numDigits)
{
    var exponent = Math.floor(sci / (9*Math.pow(10, numDigits)));
    var mantissa = sci/Math.pow(10, numDigits) - (9*exponent - 1);
    var value = Math.pow(10, exponent) * mantissa;
    return value.toFixed(numDigits);
}

// Create a JQueryUI slider linked with text input with scientific notation
//
// inputId      the ID of the text input element
// sliderId     the ID of the DIV element to turn into a slider
// valueMin     minimum value
// valueMax     maximum value
// numDigits    number of digits after decimal point
function createLinkedSliderExp(inputId, sliderId,
    valueMin, valueMax, numDigits)
{
    var inputObj = $(inputId);
    // Create JQueryUI slider
    var sliderObj = $(sliderId).slider({
        min: num2sci(valueMin, numDigits),         // Minimum value
        max: num2sci(valueMax, numDigits),         // Maximum value
        value: num2sci(parseFloat(                 // Initial value
            inputObj.attr('value')), numDigits),
        animate: 'fast'});                         // Animation speed

    // Update slider when input changes
    inputObj.blur(function()
        {
            var value = parseFloat(inputObj.attr('value'));
            var valueClamped;

            if(value <= 0 || !isFinite(value))
                valueClamped = sliderObj.slider('option', 'min');
            else
            {
                value = num2sci(value, numDigits);
                valueClamped = Math.min(Math.max(value,
                    sliderObj.slider('option', 'min')),
                    sliderObj.slider('option', 'max'));
            }

            sliderObj.slider('value', valueClamped);

            if(value != valueClamped)
                inputObj.val(sci2str(valueClamped, numDigits));
        });

    // Update input when slider changes
    sliderObj.slider('option', 'slide',
        function(event, ui) { inputObj.val(sci2str(ui.value, numDigits)); });
}


function spritecoords(s)
{
    var n = Math.max(Math.round((parseFloat(s) - 1)/2), 0);
    return  '0px ' + (-31*n) + 'px';
}
// -->
</script>


<form action="${app.base_url + 'editmask'}" method="get">
<input type="hidden" id="key" name="key" value="${app.key}" />



<p>Option: click on the image to define the  <font color="red"> seed segments </font> used to apply the detection on specific direction:</p>
<fieldset>  
  <div class="center" style="text-align: center;">
  <input type="image" style="cursor:crosshair; margin-top:5px;
    background:url('${app.work_url + 'input_0.png'}')"
    src="${app.work_url + 'mask.gif'}?${app.timestamp}"
    width="${app.cfg['param']['viewbox_width']}"
    height="${app.cfg['param']['viewbox_height']}" alt="" />
  </div>
    <p><input type="submit" id="action" name="action" value="undo" style="left" /></p>
    <p><input type="submit" id="action" name="action" value="clear" style="right; margin-right:3pt" /></p>

</fieldset>
</form>

<form action="${app.base_url + 'wait'}" method="get">
<script type="text/javascript">
  function fillDisk(radius){
    var canvas = document.getElementById('penpreviewCanvas');
    var ctx =  canvas.getContext('2d');
    ctx.fillStyle = '#F00';
    ctx.strokeStyle = '#000';
    ctx.beginPath();
    ctx.clearRect(0,0,31,31);
    ctx.arc(15, 15, radius, 0, Math.PI*2, false);
    ctx.fill();
    ctx.stroke();
  }

$(document).ready(function()
{
    createLinkedSlider('#pensize', '#slider1', 1, 20, 2);
    createLinkedSlider('#width', '#slider2', 1, 10, 1);
    createLinkedSlider('#minsize', '#slider3', 2, 50, 1);  
  fillDisk($('#pensize').attr('value'));
    // Update pen preview image with pensize slider
    $('#pensize').blur(function()
        {
            var value = $('#pensize').attr('value');
            var valueClamped = Math.min(Math.max(value,
                $('#slider1').slider('option', 'min')),
                $('#slider1').slider('option', 'max'));
            $('#slider1').slider('value', valueClamped);
            if(value != valueClamped)
                $('#pensize').val(Math.round(valueClamped));
            fillDisk(value);
 });
    $('#slider1').slider('option', 'slide',
        function(event, ui) {
            $('#pensize').val(Math.round(ui.value));
            fillDisk($('#pensize').attr('value'));
        });

});
</script>
<input type="hidden" name="key" value="${app.key}" />
<BR>

 
<h3>Parameters </h3>
<p>To apply the segment detection you can adjust the following parameters:
  <ul>
    <li>The initially assigned width of the blurred segment used in the detection: </i>  <br>
      <div style="float:left; width:8em; text-align:right;">
        <font color="blue"><i>width</i></font> :<input type="text" style="font-family:monospace; text-align:right;"
                                                                   size="3" id="width" name="width" value="${'%i' % app.cfg['param']['width']}" />
      </div>
      <div id="slider2" style="width:32em; float:left; margin-left:1em; margin-top:4px; font-size:10pt;"></div>
      <div style="clear:both"> </div>
    </li>

   <li>The minimal size of the resulting segments: </i>  <br>
      <div style="float:left; width:8em; text-align:right;">
        <font color="blue"><i>min size</i></font> :<input type="text" style="font-family:monospace; text-align:right;"
                                                                   size="3" id="minsize" name="minsize" value="${'%i' % app.cfg['param']['minsize']}" />
      </div>
      <div id="slider3" style="width:32em; float:left; margin-left:1em; margin-top:4px; font-size:10pt;"></div>
      <div style="clear:both"> </div>
    </li>

</ul>
</p>

<p style="clear:both;">Run the algorithm: <input type="submit" name="action" value="run" /><p/>
  </div>

</form>

<div style="clear:both">&nbsp;</div>

<%include file="footer.html" />
